@charset "UTF-8";

body {
    background-color: rgb(174, 156, 204);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 { text-decoration: underline;
    color: rgb(0, 0, 10);
}
h2 {
    color: rgb(90, 50, 79);
}
p {
text-align: justify;
}