@charset "UTF-8";

body {
    background-color: #5dad7d;
    font-family: Arial, Helvetica, sans-serif;
   
}

h1 {
    color:#286947;
}

h1#principal {
       text-align: center;
       background-color: #0c663c;
       color: white;
       
}

 h2 {
    color: #1f754d;
} 

.basico {
     color: #39805c;
}

.intermediario {
    color: #395580;
}

.avancado {
    color: #663980;
}